<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="play-circle"></ion-icon>Search for movie media</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div id="container">
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
 
  <ion-item>
    <ion-label>Search options</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="movie">Movie</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="episode">Episode</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>By Janne Pakaslahti</ion-card-subtitle>
      <ion-card-title>This app was made with the help of freeCodeCamp</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      I used a tutorial from freeCodeCamp and did some personal changes.
    </ion-card-content>
    <ion-item href="https://www.freecodecamp.org/news/how-to-build-your-first-ionic-4-app-with-api-calls-f6ea747dc17a/">
      You can find the tutorial here.
    </ion-item>
  </ion-card>
 
  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]">
      <ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
      </ion-avatar>
 
      <ion-label text-wrap>
        <h3>{{ item.Title }}</h3>
        {{ item.Year }}
      </ion-label>
 
      <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
